.main-container{
    width:100%;
    height: 100%;
    display: flex;
}

.apply-btn{
    width: 100px;
    padding: 0.0625em 0;
    font-weight: 500;
    font-size: 1rem;
    border: 1px solid #007aff;
    border-radius: 5px;
    color: #007aff;
    background-color: white;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}